/*

```
<header class="header">
  <div class="header-in">
    ヘッダー
  </div>
</header>
```
*/

.header {
  background: #CCC;

  .header-in {
    @include pie-clearfix();
    margin: 0 auto;
    height: 85px;
    line-height: 85px;
  }
}
